%h1 
  Survey

= render 'form'

=# link_to 'Previous', "/factors_users/new?factor_id=#{@factor_id - 1}"
=# link_to 'Next', "/factors_users/new?factor_id=#{@factor_id + 1}"

#footer
  %hr
  = link_to 'Back', factors_users_path