#admin_page_header_2
  %h2 <%= plural_name.humanize %>
  #admin_subnav
    %ul
      %li
        %a.active{:href => "/admin/<%= plural_name %>"} <%= plural_name.humanize %>
      %li
        %a{:href => "/admin/something"} something else