/* ----- RESET ----- */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;} body {	/* line-height: 1; */} ol, ul {	list-style: none;} blockquote, q {	quotes: none;} blockquote:before, blockquote:after,q:before, q:after {	content: ''; content: none;} :focus {	outline: 0;} ins {	text-decoration: none;} del {	text-decoration: line-through;} table {	border-collapse: collapse; border-spacing: 0;} dd:after, div:after, .clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;} div, .clearfix { display: inline-block; } * html div, * html .clearfix { height: 1%; } div, .clearfix, .clear { display: block; } .clear, body .content .clear, body div .content .clear {clear:both;}



/* ----- GLOBAL ----- */
.clear { clear: both; } /* use after floats so that they are contained in wrapper div */  
body { height: 100%; text-align: center; background: #AFE5F5 url('/assets/images/public/earth_science_week/wrapper/eswResource_bg.jpg') no-repeat 50% 0%; color: #2c2f3d; font-family: Helvetica, Arial, sans-serif; }
p { line-height: 1.3em; margin-bottom: 12px; color: #333B49;}
/* lines */
div.hr { height: 1px; background: #7F9756 url(/assets/images/admin/hr.gif) no-repeat scroll center; margin-bottom: 16px; }
div.hr hr { display: none; }
.left { float: left; }
.right { float: right; } 
a { color: #4C6C91 }




/* ----- TOP BANNER ----- */
#wrapper_top { width: 1001px;  /* using 20px less than a full 800px width allows for browser chrome and avoids a horizontal scroll bar */ margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */ text-align: left; margin-top: 12px; margin-bottom: 6px; }
#top { padding: 0; height: 78px; }


 
 
/* ----- SECOND BANNER ----- */
#wrapper_header_2 { position: relative; width: 1001px; /*border: 2px solid #1d2a54; border-bottom: 2px;*/ margin: 0 auto; height: 96px; outline: none; } 
  
  
  
  
/* ----- MAIN AREA ----- */
#wrapper_middle_2 { width: 1001px; margin: -2px auto 6px auto; text-align: left; padding: 0; } 




/* ----- nav_tier_3 (main navigation) ----- */    

/* container for  nav_tier_3*/
#middle_2_border { width: 208px; padding: 0; border: 2px solid #415268; background-color:#415268; margin: 0; float: left; border-right: 0;}

#nav_tier_3 { width: 208px; margin: 0; padding: 0; position: relative; text-align: left; } 
#nav_tier_3 ul#tier_3 { list-style: none; margin: 0; padding: 0; height: 100%; }
#nav_tier_3 ul#tier_3 li { position: relative; float: left; width: 100%; margin-bottom: 1px; font-size: 9pt; font-weight: bold; background-color: #5e8ab7; } 

#nav_tier_3 ul#tier_3 li a.left_nav_btn  { display: block; text-indent: 6px; padding: 10px 4px 8px; text-decoration: none; }
#nav_tier_3 ul#tier_3 li a.left_nav_btn { color: #173F4D; background-color: #AEC74A; }
#nav_tier_3 ul#tier_3 li a.left_nav_btn:hover, #nav_tier_3 ul#tier_3 li a.left_nav_btn.active { color: #153f50; background-color: #F0F8BB; text-decoration: none; }
#nav_tier_3 ul#tier_3 li a.left_nav_btn.active { pointer-events: none; cursor: default; }  


/* bottom area */
#nav_tier_3 #left_nav_bottom_area { float: left; width: 100%; margin: 0; padding-bottom: 24px; background-color: #2c83b0; }
#nav_tier_3 #left_nav_bottom_area img { margin: 20px 0 0 9px; }

/* ----- end nav_tier_3 (main navigation) ----- */





/* ----- main content area - inner pages ----- */
#middle_3_border { float: right; width: 787px; /*padding: 0 18px;*/ padding: 0; border: 2px solid #415268; background-color:#415268; margin: 0 0 0 -2px; background-color: #fff; }





/* ----- FOOTER ----- */
#wrapper_bottom { width: 1001px; margin: 0 auto; }
#footer { padding: 0; margin: 0 auto 10px auto; border: 2px solid #0a4364; background-color: #0a4364; height: 90px; color: #B0AFAD; position: relative; font-size: 10pt; line-height: 1.3em; } 
#footer a { text-decoration: none; color: #CEEAF3; } 
#footer a:hover { color: white; } 
#footer #footer_left { position: absolute; top: 10px; left: 2px; }
#footer #footer_center { position: absolute; top: 10px; left: 120px; text-align: center; }
#footer #footer_right { position: relative; float: right; padding: 12px 20px 0 0; text-align: left; color: #CEEAF3; }
#footer #jpl_title { font-weight: bold; font-size: 11pt; }
#footer ul.bottom_links li { float: left; margin-right: 5px; color: #8ACADE; }
#footer ul.bottom_links a { color: #8ACADE; } 
#footer ul.bottom_links a:hover { color: white; }